<% content_for :title, "Editing transaction" %>

<h1>Editing transaction</h1>
<%= render "shared/link_back", path: transaction_path, text: "Transaction" %>
<%= render "form", transaction: @transaction %>

<br>
